---
import { MarketingIcon } from '@/components/icons/MarketingIcon'
import { BuildingGridIcon } from '@/components/icons/BuildingGridIcon'
import { CopyIcon } from '@/components/icons/CopyIcon'
import { ClipboardListIcon } from '@/components/icons/ClipboardListIcon'
const beneficios = [
	{
		icon: MarketingIcon,
		title: 'Taller Marketing Digital Inmobiliario',
		description:
			'Aprende estrategias de Marketing Digital para captar clientes y promocionar propiedades con herramientas innovadoras.'
	},
	{
		icon: BuildingGridIcon,
		title: 'Cursos Virtuales Inmobiliarios',
		description:
			'Tendrás acceso a los cursos Captación de Inmuebles y Clientes, y Negociación Inmobiliaria.'
	},
	{
		icon: CopyIcon,
		title: '20 Modelos de Contratos Inmobiliarios',
		description:
			'Accede a una colección exclusiva de contratos inmobiliarios personalizables para cada transacción.'
	},
	{
		icon: ClipboardListIcon,
		title: 'Manuales para el Agente Inmobiliario',
		description:
			'Una guía detallada sobre las normativas legales, inteligencia artificial y tributación que todo agente inmobiliario debe conocer..'
	}
]
---

<section class="container">
	<h2 class="text-center text-charcoal-gray" data-aos="fade-left">Beneficios adicionales</h2>
	<ul
		class="mx-auto mt-[24px] grid max-w-[1280px] gap-[12px] sm:grid-cols-2 sm:gap-[24px] md:grid-cols-3 lg:grid-cols-4 xl:mt-[75px] xl:gap-[67px]"
	>
		{
			beneficios.map((beneficio, i) => (
				<li
					class="flex items-center gap-[12px] rounded-[10px] border border-charcoal-gray px-4 py-4 md:flex-col md:items-start xl:gap-[20px]"
					data-aos="fade-up-left"
					data-aos-delay={i * 250}
				>
					<div class="grid h-[46px] w-[46px] flex-none place-content-center rounded-[10px] bg-light-sky-blue text-light-blue">
						<beneficio.icon className="text-[20px]" />
					</div>
					<h3 class="text-charcoal-gray">{beneficio.title}</h3>
					<p>{beneficio.description}</p>
				</li>
			))
		}
	</ul>
</section>
