---
import { MarketingIcon } from '@/components/icons/MarketingIcon'
import { BuildingGridIcon } from '@/components/icons/BuildingGridIcon'
import { CopyIcon } from '@/components/icons/CopyIcon'
import { ClipboardListIcon } from '@/components/icons/ClipboardListIcon'
const beneficios = [
	{
		icon: MarketingIcon,
		title: 'Taller integrador y taller de Marketing digital'
	},
	{
		icon: BuildingGridIcon,
		title: 'Curso contratos inmobiliarios'
	},
	{
		icon: CopyIcon,
		title: '15 Modelos de contratos inmobiliarios'
	},
	{
		icon: ClipboardListIcon,
		title: 'Manual del agente inmobiliario'
	}
]
---

<section class="container">
	<h2 class="text-charcoal-gray text-center">Beneficios adicionales</h2>
	<ul
		class="mx-auto mt-[24px] grid max-w-[1280px] gap-[12px] sm:grid-cols-2 sm:gap-[24px] md:grid-cols-3 lg:grid-cols-4 xl:mt-[75px] xl:gap-[67px]"
	>
		{
			beneficios.map((beneficio) => (
				<li class="flex items-center gap-[12px] md:flex-col md:items-start xl:gap-[20px]">
					<div class="bg-light-sky-blue grid h-[46px] w-[46px] flex-none place-content-center rounded-[10px] text-light-blue">
						<beneficio.icon className="text-[20px]" />
					</div>
					<h3 class="text-charcoal-gray">{beneficio.title}</h3>
				</li>
			))
		}
	</ul>
</section>
