---
import { MaterialesDictadosIcon } from '@/components/icons/MaterialesDictadosIcon'
import { FormacionIntegralIcon } from '@/components/icons/FormacionIntegralIcon'
import { MetodologiaPracticaIcon } from '@/components/icons/MetodologiaPracticaIcon'
import { NetworkingProfesionalIcon } from '@/components/icons/NetworkingProfesionalIcon'
import { ActualizacionPermanenteIcon } from '@/components/icons/ActualizacionPermanenteIcon'
import { BolsaTrabajoIcon } from '@/components/icons/BolsaTrabajoIcon'
import { MedalCircleStartIcon } from '@/components/icons/MedalCircleStartIcon'
import { Image } from 'astro:assets'
import { homeImages } from '@/assets/home'
import { PersonInfoIcon } from '@/components/icons/PersonInfoIcon'

const beneficios = [
	{
		title: 'Formación Integral',
		description:
			'Nuestro enfoque es panorámico, abarcando todos los aspectos claves para un ejercicio exitoso en las actividades en las que se desarrolla agente inmobiliario.',
		icon: FormacionIntegralIcon
	},
	{
		title: 'Docentes Expertos',
		description:
			'Aprende de profesionales con amplia experiencia en el sector inmobiliario que te proporcionarán una visión práctica y real del mercado.',
		icon: PersonInfoIcon
	},
	{
		title: 'Metodología Práctica',
		description:
			'Nuestro enfoque incluye casos de estudio, simulaciones de ventas y ejercicios prácticos que te permitirán aplicar los conocimientos adquiridos en situaciones reales.',
		icon: MetodologiaPracticaIcon
	},
	{
		title: 'Networking Profesional',
		description:
			'Conéctate con otros profesionales del sector, comparte experiencias y establece relaciones que pueden abrirte nuevas oportunidades de negocio y colaboración. Mediante un grupo de Whatsapp exclusivo para nuestros alumnos.',
		icon: NetworkingProfesionalIcon
	},
	{
		title: 'Material Especializado',
		description:
			'En el módulo de aspectos legales accederás a más de 15 Modelos de contratos Inmobiliarios, material didáctico especializado, bibliografía actualizada que te ayudarán a complementar tu formación y estar al día con las tendencias del mercado.',
		icon: MaterialesDictadosIcon
	},
	{
		title: 'Actualización Permanente',
		description:
			'Mantente al tanto de las últimas novedades y tendencias del sector inmobiliario con nuestro taller de marketing digital y cursos virtuales.',
		icon: ActualizacionPermanenteIcon
	},
	{
		title: 'Bolsa de Trabajo',
		description:
			'Accede a nuestra bolsa de trabajo y conecta con empresas y empleadores que buscan agentes inmobiliarios capacitados y certificados.',
		icon: BolsaTrabajoIcon
	}
]
---

<section class="container">
	<h2 class="text-center text-charcoal-gray">Beneficios de estudiar con <br /> nosotros</h2>
	<div
		class="no-scrollbar mx-auto grid max-w-[1224px] cursor-grab grid-cols-[repeat(7,320px)] gap-[14px] overflow-x-auto pb-[77px] pt-[43px] md:grid-cols-2 lg:grid-cols-3 xl:gap-[30px]"
	>
		{
			beneficios.map((beneficio, i) => (
				<div
					class:list={[
						'flex flex-col gap-[10px] rounded-[8px] bg-white p-[22.77px] shadow-card-primary',
						`${i + 1 === 7 && 'xl:col-[2/3]'}`
					]}
				>
					<div class="grid h-[35px] w-[35px] place-content-center rounded-[6px] bg-sand">
						{<beneficio.icon className="text-white text-[23px]" />}
					</div>

					<h3 class="text-light-blue">{beneficio.title}</h3>
					<p>{beneficio.description}</p>
				</div>
			))
		}
	</div>
	<div class="mx-auto grid max-w-[1200px] items-center gap-[34px] md:grid-cols-2">
		<div class="md:order-2">
			<div class="flex items-center gap-5 pl-[22px] xl:pl-[33px]">
				<MedalCircleStartIcon className="text-[20px] text-sand xl:text-[26px]" />
				<h2 class="text-charcoal-gray">Certificación</h2>
			</div>
			<div class="border-b-2 border-r-2 border-sand p-[22px] xl:p-[33px]">
				<p>
					o Al finalizar y aprobar satisfactoriamente el curso, obtendrás el Registro de <strong
						class="font-bold text-sand">Agente Inmobiliario</strong
					> del Ministerio de Vivienda Construcción y Saneamiento donde podrás ejercer la actividad de
					agente inmobiliario en todo el Perú.
				</p>
			</div>
		</div>
		<Image src={homeImages.diploma} alt="Diplima" />
	</div>
</section>
