---
import { MaterialesDictadosIcon } from '@/components/icons/MaterialesDictadosIcon'
import { FormacionIntegralIcon } from '@/components/icons/FormacionIntegralIcon'
import { MetodologiaPracticaIcon } from '@/components/icons/MetodologiaPracticaIcon'
import { NetworkingProfesionalIcon } from '@/components/icons/NetworkingProfesionalIcon'
import { ActualizacionPermanenteIcon } from '@/components/icons/ActualizacionPermanenteIcon'
import { BolsaTrabajoIcon } from '@/components/icons/BolsaTrabajoIcon'
import { MedalCircleStartIcon } from '@/components/icons/MedalCircleStartIcon'
import { Image } from 'astro:assets'
import { homeImages } from '@/assets/home'
import { PersonInfoIcon } from '@/components/icons/PersonInfoIcon'

const beneficios = [
	{
		title: 'Formación Integral',
		description:
			'Nuestro enfoque es panorámico, abarcando todos los aspectos claves para un ejercicio exitoso en las actividades en las que se desarrolla agente inmobiliario.',
		icon: FormacionIntegralIcon
	},
	{
		title: 'Docentes Expertos',
		description:
			'Aprende de profesionales con amplia experiencia en el sector inmobiliario que te proporcionarán una visión práctica y real del mercado.',
		icon: PersonInfoIcon
	},
	{
		title: 'Metodología Práctica',
		description:
			'Nuestro enfoque incluye casos de estudio, simulaciones de ventas y ejercicios prácticos que te permitirán aplicar los conocimientos adquiridos en situaciones reales.',
		icon: MetodologiaPracticaIcon
	},
	{
		title: 'Networking Profesional',
		description:
			'Conéctate con otros profesionales del sector, comparte experiencias y establece relaciones que pueden abrirte nuevas oportunidades de negocio y colaboración. Mediante un grupo de Whatsapp exclusivo para nuestros alumnos.',
		icon: NetworkingProfesionalIcon
	},
	{
		title: 'Material Especializado',
		description:
			'En el módulo de aspectos legales accederás a más de 20 Modelos de contratos Inmobiliarios, material didáctico especializado, bibliografía actualizada que te ayudarán a complementar tu formación y estar al día con las tendencias del mercado.',
		icon: MaterialesDictadosIcon
	},
	{
		title: 'Actualización Permanente',
		description:
			'Mantente al tanto de las últimas novedades y tendencias del sector inmobiliario con nuestro taller de marketing digital y cursos virtuales.',
		icon: ActualizacionPermanenteIcon
	},
	{
		title: 'Bolsa de Trabajo',
		description:
			'Accede a nuestra bolsa de trabajo y conecta con empresas y empleadores que buscan agentes inmobiliarios capacitados y certificados.',
		icon: BolsaTrabajoIcon
	}
]
---

<section class="container">
	<h2 class="text-center text-charcoal-gray" data-aos="fade-right">
		¿Por qué estudiar con nosotros?
	</h2>
	<div class="relative mx-auto max-w-[400px] pb-[77px] pt-[43px] lg:max-w-[1224px]">
		<div class="swiper swiper-beneficios">
			<div class="swiper-wrapper">
				{
					beneficios.map((beneficio, i) => (
						<div
							class="swiper-slide flex flex-col gap-[10px] rounded-[8px] bg-white"
							data-aos="zoom-in"
							data-aos-delay={i * 100}
						>
							<div class="mx-auto mb-5 grid h-[55px] w-[55px] place-content-center rounded-[6px] bg-sand">
								{<beneficio.icon className="text-white text-[28px]" />}
							</div>

							<h3 class="mb-2 text-center text-light-blue">{beneficio.title}</h3>
							<p>{beneficio.description}</p>
						</div>
					))
				}
			</div>
			<div
				class="top-0 z-10 mt-8 flex justify-center gap-2 sm:absolute sm:top-[15%] sm:w-full sm:justify-between xl:top-[10%]"
			>
				<button
					class="swiper-navigation-prev grid h-[32px] w-[32px] place-content-center rounded-full border-[2px] border-transparent bg-light-blue text-[7px] text-white transition-colors hover:bg-blue-sky disabled:cursor-not-allowed disabled:bg-light-blue disabled:opacity-50 2xl:h-[45px] 2xl:w-[45px] 2xl:text-[10px]"
				>
					<svg xmlns="http://www.w3.org/2000/svg" width="1em" viewBox="0 0 8 14"
						><path fill="currentColor" d="m2.828 7 4.95 4.95-1.414 1.415L0 7 6.364.637 7.778 2.05z"
						></path></svg
					>
				</button>
				<button
					class="swiper-navigation-next grid h-[32px] w-[32px] place-content-center rounded-full border-[2px] border-transparent bg-light-blue text-[7px] text-white transition-colors hover:bg-blue-sky disabled:cursor-not-allowed disabled:bg-light-blue disabled:opacity-50 2xl:h-[45px] 2xl:w-[45px] 2xl:text-[10px]"
				>
					<svg xmlns="http://www.w3.org/2000/svg" width="1em" viewBox="0 0 8 14"
						><path fill="currentColor" d="M5.172 7 .222 2.05 1.638.638 8 7l-6.364 6.364L.223 11.95z"
						></path></svg
					>
				</button>
			</div>
		</div>
	</div>
	<div class="mx-auto grid max-w-[1200px] items-center gap-[34px] pb-[77px] md:grid-cols-2">
		<div class="md:order-2">
			<div class="flex items-center gap-5 pl-[22px] xl:pl-[33px]">
				<MedalCircleStartIcon className="text-[20px] text-sand xl:text-[26px]" />
				<h2 class="text-charcoal-gray">Certificación</h2>
			</div>
			<div class="border-b-2 border-r-2 border-sand p-[22px] xl:p-[33px]">
				<p>
					Al finalizar y aprobar satisfactoriamente el curso, obtendrás el Registro de
					<strong class="font-bold text-sand">Agente Inmobiliario</strong>
					del Ministerio de Vivienda Construcción y Saneamiento donde podrás ejercer la actividad de
					agente inmobiliario en todo el Perú.
				</p>
			</div>
		</div>
		<Image src={homeImages.diploma} alt="Diplima" data-aos="flip-left" />
	</div>
	<div class="mx-auto grid max-w-[1200px]">
		<div class="rounded-[41px] border-2 border-sand px-8 py-6 md:px-12 md:py-8">
			<div class="flex flex-col items-center justify-between gap-4 md:flex-row md:gap-8">
				<div class="flex items-center gap-4">
					<div class="text-sand">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							width="1em"
							height="1em"
							viewBox="0 0 85 50"
							fill="none"
							class="text-[32px] md:text-[40px]"
						>
							<g clip-path="url(#clip0_2119_9689)">
								<path
									d="M0 11.2C0.4 9.70004 1 8.40004 2.3 7.40004C3.3 6.60004 4.4 6.10004 5.6 6.10004C7.3 6.10004 9 6.00004 10.7 6.10004C11.2 6.10004 11.6 5.90004 12 5.60004C17.1 0.600041 23.1 -0.999959 30 0.700041C31.8 1.20004 33.4 2.20004 34.6 3.60004C35.2 4.30004 35.8 4.60004 36.8 4.60004C50.2 4.60004 63.5 4.60004 76.9 4.60004C78.8 4.60004 80.5 5.00004 82 6.30004C83.9 7.90004 84.8 10.8 84.1 13.2C83.3 15.9 81.2 17.8 78.6 18C77 18.1 75.3 18.1 73.7 18.1C69.9 18.1 66.1 18.1 62.2 18.1C63.5 20.2 63.7 22.3 62.8 24.5C61.9 26.7 60.2 28 57.9 28.6C59.1 30.9 59.3 33.1 58.1 35.4C56.9 37.7 55 38.9 52.4 39.1C52.5 39.9 52.6 40.6 52.6 41.3C52.6 45.2 49.4 48.2 45.4 47.9C43.9 47.8 42.4 48 40.9 48.3C34.5 49.6 28.1 49.8 21.7 49.3C18.4 49 15.5 47.7 12.8 45.8C12.1 45.3 11.4 45 10.5 45.1C8.9 45.1 7.4 45.2 5.8 45.1C3 44.9 1 43.2 0.3 40.4C0.3 40.3 0.2 40.2 0.2 40.1C0 30.5 0 20.9 0 11.2ZM28.6 29.3C27.7 27 27.9 25 29.1 23C29.4 22.5 29.1 22.4 28.8 22.1C27.2 20.6 25.6 19.2 24.2 17.6C23 16.3 21.9 14.8 20.9 13.3C20.3 12.5 20.6 11.5 21.4 11.1C22.2 10.7 23 11 23.5 11.9C24 12.7 24.6 13.5 25.2 14.3C28.8 18.5 33.1 21.9 37.7 25C38.7 25.7 39.8 26.3 40.9 26.8C42.1 27.4 43.3 27.2 44.4 26.3C45.3 25.5 45.3 24.4 44.9 23.4C44.5 22.2 44 21 43.2 20C39.7 15.2 36.1 10.5 32.5 5.80004C31.5 4.50004 30.2 3.40004 28.5 3.20004C26.4 3.00004 24.3 2.80004 22.3 3.10004C18.8 3.60004 15.9 5.50004 13.5 8.00004C12.9 8.60004 12.3 8.90004 11.4 8.90004C9.7 8.90004 8 8.90004 6.3 8.90004C4.3 9.10004 3 10.3 3 12.3C3 21.2 3 30.1 3 39C3 40.9 4.3 42.1 6.1 42.1C7.4 42.1 8.7 42.2 10 42.1C11.7 42 13.2 42.4 14.5 43.5C16.7 45.3 19.3 46.3 22.2 46.4C24.9 46.5 27.6 46.6 30.3 46.6C32.7 46.5 35.2 46.2 37.6 46C37.6 45.9 37.6 45.8 37.6 45.7C37.4 45.6 37.2 45.6 37 45.5C34 44.5 31 43.4 28 42.4C23.5 40.8 21.7 35.9 24.2 32.2C25.3 30.7 26.7 29.7 28.6 29.3ZM37.7 7.60004C39.5 10 41.2 12.3 42.9 14.5C43.2 14.9 43.6 15.1 44.1 15.1C55 15.1 65.9 15.1 76.7 15.1C77.1 15.1 77.5 15.1 77.9 15C79.7 14.8 80.9 13.5 81.1 11.6C81.3 10 80.2 8.30004 78.7 7.80004C78.1 7.60004 77.5 7.60004 76.8 7.60004C64.1 7.60004 51.3 7.60004 38.6 7.60004C38.4 7.60004 38.1 7.60004 37.7 7.60004ZM49.2 41.2C49.2 39.5 48.3 38.3 46.4 37.7C41.3 35.9 36.3 34.2 31.2 32.4C29.5 31.8 28 32.2 26.9 33.5C25.2 35.5 26.2 38.4 28.8 39.4C30.5 40 32.2 40.6 33.8 41.2C37.4 42.4 40.9 43.7 44.5 44.7C47.1 45.5 49.2 43.7 49.2 41.2ZM31.6 24.4C30.2 26.8 31.2 29.2 33.8 30C39.4 31.9 45 33.8 50.7 35.6C51.3 35.8 52 35.9 52.6 35.8C54.2 35.6 55.3 34.3 55.5 32.5C55.7 31.1 54.9 29.6 53.5 29C52 28.4 50.5 27.9 49 27.2C48.5 27 48.2 27.1 47.7 27.5C45.4 29.6 42.8 30.7 39.8 29.5C38.2 28.9 36.7 27.9 35.2 27C34 26.3 32.8 25.4 31.6 24.4ZM45.5 18.1C45.6 18.3 45.7 18.4 45.7 18.5C46.7 20.1 47.6 21.6 47.9 23.5C47.9 23.7 48.1 23.9 48.2 23.9C49.3 24.3 50.4 24.8 51.6 25C52.9 25.3 54.3 25.2 55.7 25.4C58.1 25.6 60 23.9 60.1 21.6C60.2 19.3 58.5 17.7 56.1 17.7C52.9 17.8 49.7 17.8 46.6 17.9C46.3 18 45.9 18 45.5 18.1Z"
									fill="#F78E74"></path>
							</g>
							<defs>
								<clipPath id="clip0_2119_9689">
									<rect width="84.2" height="49.7" fill="white"></rect>
								</clipPath>
							</defs>
						</svg>
					</div>
					<div class="space-y-1">
						<h2 class="text-lg font-medium md:text-xl">
							<i class="text-coral-500">¿INTERESADO</i> en nuestro curso?
						</h2>
						<p class="text-sm md:text-base">Solicita más información aquí mismo</p>
					</div>
				</div>
				<a
					href="#contacto"
					class="h-auto rounded-full bg-[#F79E8E] px-8 py-2 text-sm font-medium text-white hover:bg-[#f58d7a] md:text-base"
				>
					CONTÁCTANOS
				</a>
			</div>
		</div>
	</div>
</section>
<script>
	import Swiper from 'swiper'
	import { Navigation, Autoplay } from 'swiper/modules'
	import 'swiper/css'
	import 'swiper/css/navigation'
	new Swiper('.swiper-beneficios', {
		slidesPerView: 1,
		spaceBetween: 60,
		navigation: {
			nextEl: '.swiper-navigation-next',
			prevEl: '.swiper-navigation-prev'
		},
		autoplay: {
			delay: 2000,
			disableOnInteraction: true
		},
		modules: [Navigation, Autoplay],
		breakpoints: {
			1024: {
				slidesPerView: 2
			},
			1280: {
				slidesPerView: 3
			}
		}
	})
</script>
