---
import { OptimizeImage } from '@/components/shared/OptimizeImage'
---

<section class="container">
	<div class="mx-auto flex max-w-[886px] flex-col items-center gap-6 md:flex-row md:gap-0">
		<div class="text-[18px] font-bold lg:text-[21px]">
			<span class="text-semi-dark-blue"
				>Certifícate, <br /> Obtén tu código <br /> y haz mención en:</span
			>
			<div
				class="mt-4 rounded-[50px] bg-lime-green px-[31px] py-[12px] text-white md:rounded-[50px_0_0_50px]"
			>
				Vivienda, locales comerciales o lotes de terrenos
			</div>
		</div>
		<OptimizeImage
			stylesPicture="max-w-[500px]"
			srcMobile="/home/mobile/ejecutivo-mobile.webp"
			srcTablet="/home/tablet/ejecutivo-tablet.webp"
			srcDesktop="/home/desktop/ejecutivo-desktop.webp"
			alt="Ejecutivo"
		/>
	</div>
</section>
