<section class="container space-y-[15px] text-center xl:space-y-[30px]" id="presentacion">
	<h2 class="text-charcoal-gray">Conoce más</h2>
	<div class="mx-auto max-w-[970px] space-y-[18px]">
		<p>
			El mercado inmobiliario es uno de los sectores más dinámicos y competitivos de la economía
			actual. Convertirse en un agente inmobiliario exitoso requiere una combinación de
			conocimiento, habilidades prácticas y una sólida red de contactos. En el Instituto San José
			del Sur, hemos diseñado un <strong class="text-sand"
				>Curso Especializado de Agente Inmobiliario</strong
			> que te preparará para enfrentar los desafíos y aprovechar las oportunidades que este sector ofrece.
		</p>
		<p>
			A través de una formación integral y actualizada, te proporcionamos todas las herramientas
			necesarias para destacar en la intermediación de bienes raíces, desde la captación de
			propiedades hasta la negociación y cierre de ventas.
		</p>
	</div>
	<svg
		class="mx-auto"
		xmlns="http://www.w3.org/2000/svg"
		width="195"
		height="12"
		viewBox="0 0 195 12"
		fill="none"
	>
		<path
			d="M10 5L0 0.226497V11.7735L10 7V5ZM185 7L195 11.7735V0.226497L185 5V7ZM9 7H186V5H9V7Z"
			fill="#F78D74"></path>
	</svg>
</section>
