---
import { SolicitarInformacion } from '@/components/forms/SolicitarInformacion'
import { OptimizeImage } from '@/components/shared/OptimizeImage'
---

<section
	class="relative z-10 bg-light-blue py-[45px] md:py-[85px] lg:py-[103px] xl:py-[183px]"
	id="contacto"
>
	<div class="container">
		<SolicitarInformacion type="contacto" client:visible />
	</div>
	<OptimizeImage
		stylesPicture="absolute bottom-0 z-[-1]"
		srcMobile="/home/mobile/fondo-edificios-mobile.webp"
		srcTablet="/home/tablet/fondo-edificios-tablet.webp"
		srcDesktop="/home/desktop/fondo-edificios-desktop.webp"
		alt="Edificios"
	/>
</section>
