---
import { homeImages } from '@/assets/home'
import { SolicitarInformacion } from '@/components/forms/SolicitarInformacion'
import { Image } from 'astro:assets'
---

<section class="container px-0 lg:px-4" id="contacto">
	<div class="grid">
		<Image
			src={homeImages.contacto}
			alt="Contacto"
			class="col-start-1 row-start-1 h-[245px] lg:h-[345px] lg:rounded-[16px] xl:h-[370px]"
		/>
		<!-- ml-[121px] -->
		<div class="col-start-1 row-start-1 mx-4">
			<div
				class="mx-auto mt-[185px] max-w-[332px] md:max-w-[586px] lg:ml-[10px] lg:mr-auto xl:ml-[117px] xl:mt-[85px]"
			>
				<SolicitarInformacion type="contacto" client:visible />
			</div>
		</div>
	</div>
</section>
