---
import { SolicitarInformacion } from '@/components/forms/SolicitarInformacion'
---

<section
	class="bg-light-blue bg-[url(/img/home/mobile/fondo-edificios-mobile.webp)] bg-cover bg-no-repeat py-[45px] [background-position:top] md:bg-[url(/img/home/tablet/fondo-edificios-tablet.webp)] md:py-[85px] lg:py-[103px] xl:bg-[url(/img/home/desktop/fondo-edificios-desktop.webp)]"
	id="contacto"
>
	<div class="container">
		<SolicitarInformacion type="contacto" client:visible />
	</div>
</section>
