---
import { homeImages } from '@/assets/home'
import { SolicitarInformacion } from '@/components/forms/SolicitarInformacion'
import { CopyIcon } from '@/components/icons/CopyIcon'
import { Image } from 'astro:assets'
---

<section
	id="inicio"
	class="container grid gap-[20px] pt-[60px] lg:grid-cols-[1fr_600px] xl:grid-cols-[1fr_700px] xl:gap-[62px] 2xl:grid-cols-2 2xl:gap-[80px]"
>
	<div>
		<picture class="block w-full max-w-[600px]">
			<img src="/img/promocion.webp" class="mb-10 h-auto object-contain" alt="Promoción" />
		</picture>
		<div data-aos="fade-right" class="w-fit space-y-[14px]">
			<div class="flex items-center gap-2 lg:gap-[14px]">
				<div
					class="grid h-[30px] w-[30px] place-content-center rounded-[8px] bg-sand text-white lg:h-[45px] lg:w-[45px]"
				>
					<CopyIcon className="text-[18px] lg:text-[25px]" />
				</div>
				<span class="text-[22px] font-bold text-sand xl:text-[32px]"> CURSO 100% PRESENCIAL</span>
			</div>
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 447 12" fill="none">
				<path
					d="M10 5.01758L0 0.244075V11.7911L10 7.01758V5.01758ZM437.005 7.01758L447.005 11.7911V0.244075L437.005 5.01758V7.01758ZM9 7.01758H438.005V5.01758H9V7.01758Z"
					fill="#F78D74"></path>
			</svg>
		</div>
		<h1
			data-aos="fade-up"
			data-aos-delay="250"
			class="mb-[14px] mt-[25px] max-w-[429px] text-charcoal-gray xl:max-w-[458px]"
		>
			Agente Inmobiliario {new Date().getFullYear()}
		</h1>
		<!-- Convenio -->
		<div class="flex flex-col gap-2 2xl:flex-row">
			<div
				data-aos="fade-left"
				data-aos-delay="500"
				class="w-fit space-y-[10px] rounded-[12px] bg-white p-[18px] shadow-card-primary xl:p-[18px_24px_26px_30px]"
			>
				<strong class="text-sand xl:text-[18px]"> Convenio con:</strong>
				<div class="flex gap-1">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="16"
						height="45"
						viewBox="0 0 16 45"
						fill="none"
					>
						<path
							d="M1 40V40.75H0.25V40H1ZM8.5 39.25L16 35.6699L16 44.3301L8.5 40.75V39.25ZM1.75 0L1.75 40H0.25L0.25 0L1.75 0ZM1 39.25H9.25V40.75H1V39.25Z"
							fill="#F78D74"></path>
					</svg>
					<Image src={homeImages.ministerio} alt="Ministerio del perú" class="max-w-[224px]" />
				</div>
			</div>
			<div
				data-aos="fade-left"
				data-aos-delay="500"
				class="w-fit space-y-[10px] rounded-[12px] bg-white p-[18px] shadow-card-primary xl:p-[18px_24px_26px_30px]"
			>
				<strong class="text-sand xl:text-[18px]"> Instituto licenciado por:</strong>
				<div class="flex gap-1">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="16"
						height="45"
						viewBox="0 0 16 45"
						fill="none"
					>
						<path
							d="M1 40V40.75H0.25V40H1ZM8.5 39.25L16 35.6699L16 44.3301L8.5 40.75V39.25ZM1.75 0L1.75 40H0.25L0.25 0L1.75 0ZM1 39.25H9.25V40.75H1V39.25Z"
							fill="#F78D74"></path>
					</svg>
					<Image src={homeImages.minedu} alt="Ministerio del perú" class="max-w-[224px]" />
				</div>
			</div>
		</div>
		<p data-aos="fade-down" data-aos-delay="750" class="mt-[49px] xl:text-[18px]">
			Nuestro curso está dirigido a aquellos que buscan iniciar su carrera en el sector
			inmobiliario, así como a profesionales que desean actualizar y perfeccionar sus competencias.
		</p>
		<a
			href="https://api.whatsapp.com/send?phone=51908885851&text=Hola%2C%20qu%C3%A9%20tal%3F%20Quiero%20informaci%C3%B3n%20del%20curso%20Agente%20Inmobiliaria.%20Web"
			target="_blank"
			rel="noopener noreferrer"
			class="mt-8 flex w-fit items-center justify-center rounded-[0_20px_0_20px] border-[1px] border-transparent bg-sand px-[25px] py-[11px] font-semibold text-white transition-colors hover:bg-sand/80 disabled:disabled:cursor-not-allowed disabled:opacity-50 xl:px-[29px] xl:py-[12px]"
			>Obtén más información</a
		>
	</div>

	<div class="grid gap-[26px] lg:gap-0">
		<Image
			src={homeImages.hero}
			alt="Hero"
			data-aos="fade-left"
			data-aos-delay="1000"
			class="object-contain lg:col-start-1 lg:row-start-1 2xl:object-cover"
		/>
		<picture>
			<img src="/img/workshop.webp" alt="Hero" width={600} height={600} class="object-contain" />
		</picture>
		<div
			class="mx-auto w-full max-w-[450px] lg:z-10 lg:col-start-1 lg:row-start-1 lg:mx-0 lg:w-fit lg:translate-y-[170px] 2xl:w-full 2xl:max-w-[320px]"
		>
			<div data-aos="fade-up" data-aos-delay="1250">
				<SolicitarInformacion type="hero" client:visible />
			</div>
		</div>
	</div>
</section>
