---
import { homeImages } from '@/assets/home'
import { Image } from 'astro:assets'

const profesores = [
	{
		title: 'Renzo Seminario',
		description:
			'Gerente de Banca de Negocios Regionales e Inmobiliarios - BCP Profesional en economía con más de 20 años de experiencia en Banca Empresarial, desarrollando principalmente análisis de modelos de negocios y riesgos empresariales',
		image: homeImages.renzoSeminario
	},
	{
		title: 'Braulio Villanueva',
		description:
			'Ex jefe del Centro Hipotecario del BBVA con más de 25 años de experiencia en la gestión y optimización de productos financieros y créditos hipotecarios. Catedrático en la Universidad Autónoma del Perú.',
		image: homeImages.braulioVillanueva
	},
	{
		title: 'Luis Hutchinson',
		description:
			'Profesional en gestión y adm. de proyectos inmobiliarios. Magister en Gestión y Dirección de Empresas y Constructoras e Inmobiliarias (MDI) - PUCP y Universidad Politécnica de Madrid. Asesor y consultor de procesos municipales, licencias, etc.',
		image: homeImages.luisHutchinson
	},
	{
		title: 'Elena Ganoza',
		description:
			'Abogada especialista en Derecho Penal con 10 años como Magistrada del Poder Judicial con un sólido manejo de los procedimientos penales.',
		image: homeImages.elenaGanoza
	},
	{
		title: 'Malvin Andrade',
		description:
			'Funcionario de Mi Banco y HSBC PERÚ. Financiero de carrera con Maestría en Gestión y Desarrollo Inmobiliario en la ESAN. Con 13 años de experiencia en el negocio inmobiliario, enfocado en planificación estratégica, gestión financiera, marketing y ventas.',
		image: homeImages.malvinAndrade
	},
	{
		title: 'Mariana Altamirano',
		description:
			'Abogada tributarista titulada por la Pontificia Universidad Católica del Perú. Exgerente del área de Tax Consulting en PricewaterhouseCoopers, especializada en tributación de personas naturales, laboral, personal expatriado e internacional.',
		image: homeImages.marianaAltamirano
	},

	{
		title: 'José Cieza',
		description:
			'Jefe comercial y Marketing de proyectos inmobiliarios. ICASA – Walling Constructora. Ingeniero Economista de la Universidad Nacional de Ingeniería. Post Graduate Business Administration courses Frederick Taylor University U.S.A.',
		image: homeImages.joseCieza
	}
]
---

<section class="container" id="docentes">
	<h2 class="text-center text-charcoal-gray" data-aos="fade-right">Nuestros Docentes</h2>
	<div
		class="mx-auto grid max-w-[1224px] gap-[14px] pt-[43px] md:grid-cols-2 lg:grid-cols-3 xl:gap-[30px]"
	>
		{
			profesores.map((profesor, i) => (
				<div
					data-aos="fade-up-right"
					data-aos-delay={i * 250}
					class:list={[
						'flex flex-col gap-[10px] rounded-[8px] bg-white p-[22.77px] shadow-card-primary'
					]}
				>
					<div class="grid h-[55px] w-[55px] place-content-center overflow-hidden rounded-[6px] bg-light-blue/40">
						<Image src={profesor.image} alt={profesor.title} class="h-[55px] w-[55px]" />
					</div>

					<h3 class="text-light-blue">{profesor.title}</h3>
					<p>{profesor.description}</p>
				</div>
			))
		}
		<div
			data-aos="fade-up-right"
			class:list={[
				'flex flex-col items-center justify-center gap-[10px] border-b border-r border-sand bg-white p-[22.77px] text-[25px] font-bold shadow-card-primary lg:col-span-2'
			]}
		>
			Docentes expertos en el sector inmobiliario
		</div>
	</div>
</section>
