---
import { OptimizeImage } from '@/components/shared/OptimizeImage'
---

<section class="relative pt-[40px] lg:py-[80px]" id="presentacion">
	<div
		class="absolute inset-0 bg-[url(/img/home/mobile/fondo-edificios-mobile.webp)] bg-cover bg-center md:bg-[url(/img/home/tablet/fondo-edificios-tablet.webp)] xl:bg-[url(/img/home/desktop/fondo-edificios-desktop.webp)]"
	>
		<div class="absolute inset-0 bg-light-blue bg-opacity-80"></div>
	</div>
	<div
		class="container relative z-10 grid items-center gap-12 text-white lg:grid-cols-[450px_1fr] xl:grid-cols-[1fr_1fr] xl:gap-20"
	>
		<div class="relative p-[15px] lg:order-2 lg:p-[30px]">
			<svg
				class="absolute left-0 top-0"
				xmlns="http://www.w3.org/2000/svg"
				width="26"
				height="26"
				viewBox="0 0 26 26"
				fill="none"
			>
				<path fill-rule="evenodd" clip-rule="evenodd" d="M26 5V0H5H0V5V26H5V5H26Z" fill="#C4C400"
				></path>
			</svg>
			<div class="space-y-4 text-justify lg:space-y-8 xl:text-lg">
				<p>
					El mercado inmobiliario es uno de los sectores más dinámicos y competitivos de la economía
					actual. Convertirse en un agente inmobiliario exitoso requiere una combinación de
					conocimiento, habilidades prácticas y una sólida red de contactos. En el Instituto San
					José del Sur, hemos diseñado un <span class="font-bold text-light-mustard"
						>curso especializado de Agente Inmobiliario</span
					> que te preparará para enfrentar los desafíos y aprovechar las oportunidades que este sector
					ofrece.
				</p>
				<p>
					Nuestro curso está dirigido a aquellos que buscan iniciar su carrera en el sector
					inmobiliario, así como a profesionales que desean actualizar y perfeccionar sus
					competencias. A través de una formación integral y actualizada, te proporcionamos todas
					las herramientas necesarias para destacar en la intermediación de bienes raíces, desde la
					captación de propiedades hasta la negociación y cierre de ventas.
				</p>
			</div>
			<svg
				class="absolute bottom-0 right-0"
				xmlns="http://www.w3.org/2000/svg"
				width="26"
				height="26"
				viewBox="0 0 26 26"
				fill="none"
			>
				<path
					fill-rule="evenodd"
					clip-rule="evenodd"
					d="M-4.37114e-07 21L0 26L21 26L26 26L26 21L26 0L21 4.37114e-07L21 21L-4.37114e-07 21Z"
					fill="#C4C400"></path>
			</svg>
		</div>
		<OptimizeImage
			stylesPicture="max-w-[350px] mx-auto lg:mx-0 lg:max-w-[initial] lg:relative lg:top-[80px]"
			srcMobile="/home/mobile/personas-mobile.webp"
			srcTablet="/home/tablet/personas-tablet.webp"
			srcDesktop="/home/desktop/personas-desktop.webp"
			alt="Personas"
		/>
	</div>
</section>
