---
import { ChevronDownIcon } from '@/components/icons/ChevronDownIcon'
import { Image } from 'astro:assets'
import { homeImages } from '@/assets/home'

const accordionData = [
	{
		title: 'Estudios generales',
		subSections: [
			'Liderazgo y desarrollo organizacional',
			'Ética en las actividades inmobiliarias',
			'Lenguaje y redacción',
			'Matemática Básica',
			'Herramientas informáticas para el desarrollo de operaciones inmobiliarias de intermediación / Taller de marketing digital'
		]
	},
	{
		title: 'Aspectos legales aplicables a la gestión inmobiliaria',
		subSections: [
			'Derecho Inmobiliario',
			'Derecho Civil Patrimonial',
			'Derecho Penal',
			'Licenciamiento Urbano',
			'Análisis de la Ley 29080, Ley de creación del Registro del Agente Inmobiliario',
			'Contratos inmobiliarios'
		]
	},
	{
		title: 'Aspectos financieros, contables, tributarios, estadísticos y de avaluó',
		subSections: [
			'Aspectos Tributarios',
			'Técnicas de tasación de inmuebles',
			'Financiamiento inmobiliario',
			'Estadística inmobiliaria',
			'Técnicas de evaluación crediticia'
		]
	},
	{
		title: 'Administración y marketing, comercialización, negociación y gestión comercial',
		subSections: [
			'Marketing inmobiliario',
			'Administración inmobiliaria',
			'El mercado inmobiliario actual',
			'Técnicas de investigación de mercado',
			'Gestión Comercial',
			'Gestión del Agente Inmobiliario'
		]
	},
	{
		title: 'Urbanismo y arquitectura',
		subSections: [
			'Planificación y Desarrollo Urbano',
			'Catastro urbano',
			'Lectura, expresión gráfica e interpretación de planos',
			'Arquitectura de interiores'
		]
	},
	{
		title: 'Beneficios',
		subSections: [
			'Taller integrador y taller de Marketing digital',
			'Curso contratos inmobiliarios',
			'Modelos de contratos inmobiliarios'
		]
	}
]
---

<style>
	details > summary {
		position: relative;
		list-style: none; /* Elimina la flecha por defecto */
		cursor: pointer; /* Hace que el cursor sea una mano al pasar sobre el summary */
	}

	details > summary .icono-summary {
		transition: transform 0.2s; /* Animación para rotar el icono */
	}

	details[open] > summary .icono-summary {
		transform: rotate(-180deg); /* Rota el icono cuando el details está abierto */
	}

	details > summary::-webkit-details-marker {
		display: none; /* Específico para WebKit: oculta la flecha por defecto */
	}
</style>
<section id="malla-curricular" class="container relative">
	<h2 class="text-center text-charcoal-gray">Temario</h2>
	<div
		class="mx-auto grid max-w-[420px] items-end gap-[36px] lg:max-w-[912px] xl:max-w-[1437px] xl:grid-cols-[600px_1fr]"
	>
		<div class="mt-8 grid gap-[20px] xl:order-2">
			{
				accordionData.map((info, i) => {
					return (
						<div class="rounded-xl border-[1px] border-gray-200 px-8 py-4">
							<details open={i === 0}>
								<summary class="flex items-center justify-between gap-7 font-bold text-charcoal-gray">
									<div class="flex flex-col">
										<small class="text-sand">Módulo {i + 1}.</small>
										{info.title}
									</div>
									<i class="icono-summary">
										<div class="grid h-[32px] w-[32px] place-content-center rounded-[9px] bg-light-blue text-white">
											<ChevronDownIcon />
										</div>
									</i>
								</summary>
								<ul class="mt-4 flex max-w-[691px] list-disc flex-col gap-2 pl-8 font-semibold">
									{info.subSections.map((sub) => (
										<li>{sub}</li>
									))}
								</ul>
							</details>
						</div>
					)
				})
			}
		</div>
		<Image
			src={homeImages.temario}
			alt="Temario"
			class="mx-auto max-w-[600px] object-contain xl:mx-0 xl:max-w-[initial]"
		/>
	</div>
</section>
<!-- top-[40%] translate-y-[-50%] -->
