---
import { ChevronDownIcon } from '@/components/icons/ChevronDownIcon'

const accordionData = [
	{
		title: 'MÓDULO 1. Estudios generales',
		subSections: [
			'Liderazgo y desarrollo organizacional',
			'Ética en las actividades inmobiliarias',
			'Lenguaje y redacción',
			'Matemática Básica',
			'Herramientas informáticas para el desarrollo de operaciones inmobiliarias de intermediación / Taller de marketing digital'
		]
	},
	{
		title: 'MÓDULO 2. Aspectos legales aplicables a la gestión inmobiliaria',
		subSections: [
			'Derecho Inmobiliario',
			'Derecho Civil Patrimonial',
			'Derecho Penal',
			'Licenciamiento Urbano',
			'Análisis de la Ley 29080, Ley de creación del Registro del Agente Inmobiliario',
			'Contratos inmobiliarios'
		]
	},
	{
		title: 'MÓDULO 3. Aspectos financieros, contables, tributarios, estadísticos y de avaluó',
		subSections: [
			'Aspectos Tributarios',
			'Técnicas de tasación de inmuebles',
			'Financiamiento inmobiliario',
			'Estadística inmobiliaria',
			'Técnicas de evaluación crediticia'
		]
	},
	{
		title:
			'MÓDULO 4. Administración y marketing, comercialización, negociación y gestión comercial',
		subSections: [
			'Marketing inmobiliario',
			'Administración inmobiliaria',
			'El mercado inmobiliario actual',
			'Técnicas de investigación de mercado',
			'Gestión Comercial',
			'Gestión del Agente Inmobiliario'
		]
	},
	{
		title: 'MÓDULO 5. Urbanismo y arquitectura',
		subSections: [
			'Planificación y Desarrollo Urbano',
			'Catastro urbano',
			'Lectura, expresión gráfica e interpretación de planos',
			'Arquitectura de interiores'
		]
	},
	{
		title: 'BENEFICIOS',
		subSections: [
			'Taller integrador y taller de Marketing digital',
			'Curso contratos inmobiliarios',
			'Modelos de contratos inmobiliarios'
		]
	}
]
---

<style>
	details > summary {
		position: relative;
		list-style: none; /* Elimina la flecha por defecto */
		cursor: pointer; /* Hace que el cursor sea una mano al pasar sobre el summary */
		padding-right: 20px; /* Asegura espacio para el icono */
	}

	details > summary .icono-summary {
		position: absolute;
		right: 0; /* Alinea el icono a la derecha */
		transition: transform 0.2s; /* Animación para rotar el icono */
	}

	details[open] > summary .icono-summary {
		transform: rotate(-180deg); /* Rota el icono cuando el details está abierto */
	}

	details > summary::-webkit-details-marker {
		display: none; /* Específico para WebKit: oculta la flecha por defecto */
	}
</style>
<section class="container relative py-[33px] lg:py-[66px]" id="malla-curricular">
	<h2 class="text-center text-[18px] font-semibold text-semi-dark-blue sm:text-[25px]">TEMARIO</h2>
	<div class="mx-auto mt-8 grid max-w-[850px] gap-[20px]">
		{
			accordionData.map((info, i) => {
				return (
					<div class="rounded-xl border-2 border-light-mustard px-8 py-4">
						<details open={i === 0}>
							<summary class="font-semibold text-semi-dark-blue">
								{info.title}
								<i class="icono-summary">
									<ChevronDownIcon />
								</i>
							</summary>
							<ul class="mt-4 flex list-decimal flex-col gap-2 pl-4 font-semibold text-semi-dark-blue">
								{info.subSections.map((sub) => (
									<li>{sub}</li>
								))}
							</ul>
						</details>
					</div>
				)
			})
		}
	</div>
</section>
<!-- top-[40%] translate-y-[-50%] -->
