---
import { UbicacionIcon } from '@/components/icons/UbicacionIcon'
---

<section
	class="bg-[url(/img/home/mobile/personas-clase-mobile.webp)] bg-cover bg-center bg-no-repeat py-[45px] md:bg-[url(/img/home/tablet/personas-clase-tablet.webp)] md:py-[85px] lg:py-[130px] xl:bg-[url(/img/home/desktop/personas-clase-desktop.webp)]"
	id="turno"
>
	<div class="container flex flex-col items-center gap-8">
		<div class="space-y-2 text-center">
			<h2 class="text-center text-[18px] font-bold text-white sm:text-[25px]">
				CLASES PRESENCIALES
			</h2>
			<hr class="h-[3px] w-full bg-white" />
			<p class="text-4xl font-bold text-light-mustard">Inicio: 12 DE AGOSTO</p>
		</div>
		<div
			class="mx-auto flex max-w-[600px] flex-col items-center gap-4 rounded-xl bg-[#00386B] px-12 py-4 text-white sm:flex-row"
		>
			<UbicacionIcon className="flex-none text-[48px] text-light-mustard md:text-[68px]" />
			<p class="text-center">
				Av. Benavides 4828: oficina N° 502 Urbanización Las Gardenias - Santiago de Surco provincia
				y departamento de Lima
			</p>
		</div>
		<div class="grid justify-center gap-10 sm:grid-cols-2">
			<div class="rounded-xl border-[2px] border-white px-10 py-3 text-white">
				<div class="flex flex-col items-center gap-[15px] text-center sm:gap-[30px]">
					<div>
						<strong class="text-2xl">Turno noche</strong>
						<hr class="mb-2 h-[2px] w-full bg-white" />
						<p>Lunes a Viernes</p>
						<p>6:00 P.M. a 10:00 P.M.</p>
					</div>
				</div>
				<p class="text-center font-semibold">Duración: 2 meses y medio aprox.</p>
			</div>

			<div class="rounded-xl border-[2px] border-white px-10 py-3 text-white">
				<div class="flex flex-col items-center gap-[15px] text-center sm:gap-[30px]">
					<div>
						<strong class="text-2xl">Turno mañana</strong>
						<hr class="mb-2 h-[2px] w-full bg-white" />
						<p>Lunes, Miércoles y Viernes</p>
						<p>9:00 A.M. a 1:00 P.M.</p>
					</div>
				</div>
				<p class="text-center font-semibold">Duración: 4 meses aprox.</p>
			</div>
		</div>
	</div>
</section>
