---
import { WhatsappIcon } from '@/components/icons/WhatsappIcon'
import { CorreoIcon } from '@/components/icons/CorreoIcon'
---

<footer class="bg-semi-dark-blue py-[40px] text-white">
	<div class="container flex flex-wrap items-center justify-center gap-5 sm:justify-between">
		<h2 class="text-[18px] font-semibold sm:text-[25px]">CONTACTO</h2>
		<div class="hidden h-[80px] w-[3px] bg-white sm:block"></div>
		<div class="flex items-center gap-[15px]">
			<WhatsappIcon className="text-[35px]" />
			<ul>
				<li>
					<a href="tel:51908885838">+51 908 885 838</a>
				</li>
				<li>
					<a href="tel:51908885821">+51 908 885 821</a>
				</li>
				<li>
					<a href="tel:908885851">+51 908 885 851</a>
				</li>
				<li>
					<a href="tel:908885858">+51 908 885 858</a>
				</li>
			</ul>
		</div>
		<div class="flex items-center gap-[15px]">
			<CorreoIcon className="text-[35px]" />
			<a href="mailto:curso@agenteinmobiliario.com">curso@agenteinmobiliario.com</a>
		</div>
	</div>
</footer>
