---
import '@/styles/globals.css'

import Footer from '@/components/shared/Footer.astro'
import { Header } from '@/components/shared/Header'

/* ===  Secciones === */
import Certificate from '@/sections/home/Certificate.astro'
import Hero from '@/sections/home/Hero.astro'
import ConoceMas from '@/sections/home/ConoceMas.astro'
import Contacto from '@/sections/home/Contacto.astro'
import Temario from '@/sections/home/Temario.astro'
import Beneficios from '@/sections/home/Beneficios.astro'
import ClasesPresenciales from '@/sections/home/ClasesPresenciales.astro'
import BeneficiosAdicionales from '@/sections/home/BeneficiosAdicionales.astro'
import NuestrosDocentes from '@/sections/home/NuestrosDocentes.astro'
import { WhatsappIcon } from '@/components/icons/WhatsappIcon'
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>San José del Sur - Curso de Especialización de Agente Inmobiliario</title>
		<meta
			name="description"
			content="San José del Sur ofrece un Curso de Especialización de Agente Inmobiliario en colaboración con el Ministerio de Vivienda. Prepárate para sobresalir en el sector inmobiliario y construcción con nuestra formación especializada."
		/>
		<!-- Google Tag Manager -->
		<script is:inline>
			;(function (w, d, s, l, i) {
				w[l] = w[l] || []
				w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' })
				var f = d.getElementsByTagName(s)[0],
					j = d.createElement(s),
					dl = l != 'dataLayer' ? '&l=' + l : ''
				j.async = true
				j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl
				f.parentNode.insertBefore(j, f)
			})(window, document, 'script', 'dataLayer', 'GTM-P6M48Z38')
		</script>
		<!-- TikTok Pixel Code Start -->
		<script is:inline>
			!(function (w, d, t) {
				w.TiktokAnalyticsObject = t
				var ttq = (w[t] = w[t] || [])
				;(ttq.methods = [
					'page',
					'track',
					'identify',
					'instances',
					'debug',
					'on',
					'off',
					'once',
					'ready',
					'alias',
					'group',
					'enableCookie',
					'disableCookie',
					'holdConsent',
					'revokeConsent',
					'grantConsent'
				]),
					(ttq.setAndDefer = function (t, e) {
						t[e] = function () {
							t.push([e].concat(Array.prototype.slice.call(arguments, 0)))
						}
					})
				for (var i = 0; i < ttq.methods.length; i++) ttq.setAndDefer(ttq, ttq.methods[i])
				;(ttq.instance = function (t) {
					for (var e = ttq._i[t] || [], n = 0; n < ttq.methods.length; n++)
						ttq.setAndDefer(e, ttq.methods[n])
					return e
				}),
					(ttq.load = function (e, n) {
						var r = 'https://analytics.tiktok.com/i18n/pixel/events.js',
							o = n && n.partner
						;(ttq._i = ttq._i || {}),
							(ttq._i[e] = []),
							(ttq._i[e]._u = r),
							(ttq._t = ttq._t || {}),
							(ttq._t[e] = +new Date()),
							(ttq._o = ttq._o || {}),
							(ttq._o[e] = n || {})
						n = document.createElement('script')
						;(n.type = 'text/javascript'), (n.async = !0), (n.src = r + '?sdkid=' + e + '&lib=' + t)
						e = document.getElementsByTagName('script')[0]
						e.parentNode.insertBefore(n, e)
					})

				ttq.load('CQM0T13C77U2KI34OMM0')
				ttq.page()
			})(window, document, 'ttq')
		</script>
		<!-- TikTok Pixel Code End -->

		<!-- Google tag (gtag.js) - Google Analytics -->
		<!-- <script
			is:inline
			type="text/partytown"
			async
			src="https://www.googletagmanager.com/gtag/js?id=G-VSJEL9Z486"></script>
		<script is:inline type="text/partytown">
			window.dataLayer = window.dataLayer || []
			function gtag() {
				window.dataLayer.push(arguments)
			}
			gtag('js', new Date())
			gtag('config', 'G-VSJEL9Z486')
		</script> -->

		<!-- Google Tag Manager -->
		<!-- <script is:inline type="text/partytown">
			;(function (w, d, s, l, i) {
				w[l] = w[l] || []
				w[l].push({
					'gtm.start': new Date().getTime(),
					event: 'gtm.js'
				})
				var f = d.getElementsByTagName(s)[0],
					j = d.createElement(s),
					dl = l != 'dataLayer' ? '&l=' + l : ''
				j.async = true
				j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl
				f.parentNode.insertBefore(j, f)
			})(window, document, 'script', 'dataLayer', 'GTM-P6M48Z38')
		</script> -->
		<!-- End Google Tag Manager -->
	</head>
	<body>
		<!-- Google Tag Manager (noscript) -->
		<noscript
			><iframe
				src="https://www.googletagmanager.com/ns.html?id=GTM-P6M48Z38"
				height="0"
				width="0"
				class="invisible hidden"></iframe></noscript
		>
		<!-- End Google Tag Manager (noscript) -->
		<a
			href="https://api.whatsapp.com/send?phone=51908885851&text=Hola%2C%20qu%C3%A9%20tal%3F%20Quiero%20informaci%C3%B3n%20del%20curso%20Agente%20Inmobiliaria.%20Web"
			class="fixed bottom-4 right-4 z-10 rounded-full bg-green-500 p-3 text-white shadow-lg transition-all duration-300 ease-in-out hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-400 focus:ring-opacity-50"
			aria-label="Contactar por WhatsApp"
			target="_blank"
			rel="noopener noreferrer"
		>
			<WhatsappIcon className="h-8 w-8" />
		</a>
		<Header client:load />
		<main class="flex flex-col gap-[40px] lg:gap-[75px] xl:gap-[130px]">
			<Hero />
			<ConoceMas />
			<Beneficios />
			<ClasesPresenciales />
			<Temario />
			<BeneficiosAdicionales />
			<NuestrosDocentes />
			<Certificate />
			<Contacto />
		</main>
		<Footer />
	</body>
</html>
