---
import '@/styles/globals.css'
import { FacebookIcon } from '@/components/icons/FacebookIcon'
import { TikTokIcon } from '@/components/icons/TikTokIcon'
import { InstagramIcon } from '@/components/icons/InstagramIcon'
import { WhatsappIcon } from '@/components/icons/WhatsappIcon'
import Footer from '@/components/shared/Footer.astro'
import { Header } from '@/components/shared/Header'

/* ===  Secciones === */
import Certificate from '@/sections/home/Certificate.astro'
import Hero from '@/sections/home/Hero.astro'
import Presentacion from '@/sections/home/Presentacion.astro'
import Contacto from '@/sections/home/Contacto.astro'
import Temario from '@/sections/home/Temario.astro'
import TendrasAcceso from '@/sections/home/TendrasAcceso.astro'
import Turno from '@/sections/home/Turno.astro'
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>San José del Sur - Curso de Especialización de Agente Inmobiliario</title>
		<meta
			name="description"
			content="San José del Sur ofrece un Curso de Especialización de Agente Inmobiliario en colaboración con el Ministerio de Vivienda. Prepárate para sobresalir en el sector inmobiliario y construcción con nuestra formación especializada."
		/>
		<script
			src="https://www.google.com/recaptcha/api.js?render=6LchufsnAAAAAKgEzDQWSH1nLyG_1ttI-7tDNvl8"
		></script>
	</head>
	<body>
		<div
			class="fixed right-0 top-[18rem] z-30 rounded-[18px_0_0_18px] bg-light-mustard px-[15px] py-[20px] text-[25px] text-white"
		>
			<ul class="flex flex-col gap-[18px]">
				<li>
					<a href="https://www.facebook.com/CursoAgenteInmobiliarioPeru" target="_blank"
						><FacebookIcon /></a
					>
				</li>
				<li>
					<a href="https://www.instagram.com/cursoagenteinmobiliarioperu/" target="_blank"
						><InstagramIcon /></a
					>
				</li>
				<li><a href="https://wa.link/44lnxe" target="_blank"><WhatsappIcon /></a></li>
				<li>
					<a href="https://www.tiktok.com/@agente.inmobiliario24" target="_blank"><TikTokIcon /></a>
				</li>
			</ul>
		</div>
		<Header client:load />
		<main>
			<Hero />
			<Presentacion />
			<TendrasAcceso />
			<Turno />
			<Temario />
			<Certificate />
			<Contacto />
		</main>
		<Footer />
	</body>
</html>
