---
import '@/styles/globals.css'

/* ===  Secciones === */
import Certificate from '@/sections/home/Certificate.astro'
import Hero from '@/sections/home/Hero.astro'
import ConoceMas from '@/sections/home/ConoceMas.astro'
import Contacto from '@/sections/home/Contacto.astro'
import Temario from '@/sections/home/Temario.astro'
import Beneficios from '@/sections/home/Beneficios.astro'
import ClasesPresenciales from '@/sections/home/ClasesPresenciales.astro'
// import BeneficiosAdicionales from '@/sections/home/BeneficiosAdicionales.astro'
import NuestrosDocentes from '@/sections/home/NuestrosDocentes.astro'

import Layout from '@/layouts/Layout.astro'
import Convenios from '@/sections/home/Convenios.astro'
---

<Layout
	title="David Gabriel | Agente Inmobiliario"
	description="San José del Sur ofrece un Curso de Especialización de Agente Inmobiliario en colaboración con el Ministerio de Vivienda. Prepárate para sobresalir en el sector inmobiliario y construcción con nuestra formación especializada."
>
	<main class="flex flex-col gap-[40px] overflow-hidden lg:gap-[75px]">
		<Hero />
		<ConoceMas />
		<Temario />
		<Beneficios />
		<ClasesPresenciales />
		<!-- <BeneficiosAdicionales /> -->
		<NuestrosDocentes />
		<Certificate />
		<Convenios />
		<Contacto />
	</main>
</Layout>
