---
import '@/styles/globals.css'

import Footer from '@/components/shared/Footer.astro'
import { Header } from '@/components/shared/Header'

/* ===  Secciones === */
import Certificate from '@/sections/home/Certificate.astro'
import Hero from '@/sections/home/Hero.astro'
import Presentacion from '@/sections/home/Presentacion.astro'
import Contacto from '@/sections/home/Contacto.astro'
import Temario from '@/sections/home/Temario.astro'
import TendrasAcceso from '@/sections/home/TendrasAcceso.astro'
import Turno from '@/sections/home/Turno.astro'
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>San José del Sur - Curso de Especialización de Agente Inmobiliario</title>
		<meta
			name="description"
			content="San José del Sur ofrece un Curso de Especialización de Agente Inmobiliario en colaboración con el Ministerio de Vivienda. Prepárate para sobresalir en el sector inmobiliario y construcción con nuestra formación especializada."
		/>

		<!-- Google tag (gtag.js) - Google Analytics -->
		<script
			is:inline
			type="text/partytown"
			async
			src="https://www.googletagmanager.com/gtag/js?id=G-VSJEL9Z486"></script>
		<script is:inline type="text/partytown">
			window.dataLayer = window.dataLayer || []
			function gtag() {
				window.dataLayer.push(arguments)
			}
			gtag('js', new Date())
			gtag('config', 'G-VSJEL9Z486')
		</script>

		<!-- Google Tag Manager -->
		<script is:inline type="text/partytown">
			;(function (w, d, s, l, i) {
				w[l] = w[l] || []
				w[l].push({
					'gtm.start': new Date().getTime(),
					event: 'gtm.js'
				})
				var f = d.getElementsByTagName(s)[0],
					j = d.createElement(s),
					dl = l != 'dataLayer' ? '&l=' + l : ''
				j.async = true
				j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl
				f.parentNode.insertBefore(j, f)
			})(window, document, 'script', 'dataLayer', 'GTM-P6M48Z38')
		</script>
		<!-- End Google Tag Manager -->

		<!-- reCAPTCHA -->
		<!-- <script
			is:inline
			src="https://www.google.com/recaptcha/api.js?render=6LchufsnAAAAAKgEzDQWSH1nLyG_1ttI-7tDNvl8"
			async
			defer></script> -->
	</head>
	<body>
		<!-- <div
			class="fixed right-0 top-[18rem] z-30 rounded-[18px_0_0_18px] bg-light-mustard px-[15px] py-[20px] text-[25px] text-white"
		>
			
		</div> -->
		<Header client:load />
		<main>
			<Hero />
			<Presentacion />
			<TendrasAcceso />
			<Turno />
			<Temario />
			<Certificate />
			<Contacto />
		</main>
		<Footer />
	</body>
</html>
